*{
    margin: 0;
    padding: 0;
}
.backfirst{
    min-height: 100vh;
    opacity: 90%;
    width: 100%;
    background-image: url(/porter-raab-gnj9vj--FRY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
}
nav img{
    width: 100px;
}
.herder{
    flex: 1;
    text-align: right;
}
.herder ul li{
    list-style: none;
    display: inline-block;
    padding: 9px 12px;
    position: relative;
}
.herder ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.herder ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;
    transition: 0.6s;
}
.herder ul li:hover::after{
    width: 100%;
}
.text{
    text-shadow: white ;
   width: 90%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}
.text h1{
    font-size: 50px;
    color: black;
}
.text p{
    font-size: large;
    color: #fff;
}
.apply{
    text-decoration: none;
    background-color: transparent;
    padding: 12px 20px;
    border: 1px solid blueviolet;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;

}
.apply:hover{
    width: 100%;
    color: rgb(105, 105, 224);
    background: rgba(175, 141, 141, 0.7);
    border-radius: 43%;
}
nav  .fa{
    display: none;
}

.contner{
     position:sticky;
     width: 79px;
     background: violet;
     margin: 12px;
     padding: 12px;
}
@media (max-width: 700px){
    .herder ul li{
        display: block;
    }
    .herder{
        position: absolute;
        background: rgb(65, 81, 226);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: center;
        z-index: 2;
    }
    nav  .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 20px;
    }
}
.courses{
    display: block;
    margin: auto;
    text-align: center;
    padding: 7px 20px;
    padding-top: 30px ;
}
.program a{
    display: block;
    background-color:#58595b;
    border: 1px solid blueviolet;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 8px 20px;
    box-shadow: border-box;
}

.program:hover{
    background: rgba(175, 141, 141, 0.7);
}
#science ,#com ,#arts{
    flex-basis: 20%;
    display: block;
    margin-bottom: 5%;
    border-radius: 8px;
    padding: 20px 12px;
    box-sizing: border-box;
}
#subject{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
#update{
    margin: 5%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#notification-box {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffc107;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
  }
  
  #close-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  

/* #update:hover{
    width: 100%;
    color: rgb(105, 105, 224);
    background: rgba(175, 141, 141, 0.7);
} */
#annouce ,#event{
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    border: 2px #0e0f0f solid ;
}
#update h1{
    background-color: #58595b;
    margin-bottom: 9px;
    color: rgb(43, 40, 209);
}
@media(max-width: 700px){
    #update{
        flex-direction: column;
    }
}


/* campus */


#campus{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 50px;
}

#camp1{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
#img{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
#camp1 img{
    width: 100%;
    display: block;
    /* justify-content: space-between; */
}
.back{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
}
.back:hover{
    background: rgba(175, 141, 141, 0.7);
}
.back h2{
    width: 100%;
    font-size: large;
    font-size: 30px;
    bottom: 0%;
    position: absolute;

}
.back h2:hover{
    bottom: 30%;
    opacity: 1;
}
/* @media(max-width: 700px){
    #update{
        flex-direction: column;
    }
} */

.enjoy{
    text-align: center;
    background-color: rgba(121, 121, 240, 0.315);
    color: #0e0f0f;
    border: 2px solid black;
}
.ourST{
    color: black;
    background-image:url(/office.jpg);
    margin: 5% 10%;
    background-repeat: repeat-x;
    background-size: contain;
    text-align: center;
    border: 2px solid black;
}
.end{
    color: #fff;
    text-align: center;
    border: #0e0f0f;
    font-size: larger;
    background-color: black;

}
.before-footer{
    width: 100%;
    background-color: #0e0f0f;
    border: 2px solid #fff;
}

.facilities{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.facilities h1{
    display: block;
    background-color: black;
    color: #fff;
    border: 1px solid pink;
    margin: auto;
}
#facil{
    flex-basis: 30%;
    border-radius: 10px;
    margin:5%;
    text-align: center;
}
.facilities img{
    width: 100%;
    border: 10px;
}
.about ,.aboutback{
    min-height: 50vh;
    width: 100%;
    background-image: url(/about.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    width: 100%;
}
.contact{
    width: 80%;
    margin: 7%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.con{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.con div{
    display:flex ;
    align-items: center;
    margin-bottom: 40px;
}